In [ ]:
#On va chercher le nombre d'icebergs qui voyagent ensemble en même temps (on a les observation du nombre d'Icebergs et leur taille))

In [114]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [115]:
df = pd.read_csv('AAD_Iceberg_database_1979-1984_version_2022-06-28.csv')

In [116]:
number_of_icebergs = df['Total'].sum()
number_of_icebergs

13502

In [117]:
df

,ID,Cruise-ID,Vessel,Obs_Date_ISO,Obs_Date_NZ,Obs_Lat,Obs_Lon,Ice_conc,RV,Total,size1,size2,size3,size4,size5
0,1,787901,Nella Dan,1978-12-13T18:30Z,13\12\1978 18:30,-58.72,111.50,0,X,1,0,0,0,0,0
1,2,787901,Nella Dan,1978-12-13T21:30Z,13\12\1978 21:30,-58.88,110.67,0,X,2,0,0,0,0,0
2,3,787901,Nella Dan,1978-12-13T23:30Z,13\12\1978 23:30,-59.03,110.00,0,X,4,0,0,0,0,0
3,4,787901,Nella Dan,1978-12-14T01:30Z,14\12\1978 01:30,-59.17,109.30,0,X,5,0,0,0,0,0
4,5,787901,Nella Dan,1978-12-14T03:40Z,14\12\1978 03:40,-59.22,109.00,0,X,4,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,966,838408,Nella Dan,1984-03-07T05:00Z,07\03\1984 05:00,-64.52,65.72,0,X,5,0,3,2,0,0
966,967,838408,Nella Dan,1984-03-07T07:00Z,07\03\1984 07:00,-64.12,66.13,0,X,3,0,3,0,0,0
967,968,838408,Nella Dan,1984-03-07T11:00Z,07\03\1984 11:00,-63.32,66.95,0,X,1,0,1,0,0,0
968,969,838408,Nella Dan,1984-03-08T01:00Z,08\03\1984 01:00,-60.50,69.57,0,X,1,0,0,1,0,0
969,970,838408,Nella Dan,1984-03-08T03:00Z,08\03\1984 03:00,-60.22,69.92,0,X,1,0,1,0,0,0

In [118]:
df = df[['Obs_Date_NZ', 'Obs_Lat', 'Obs_Lon', 'Total', 'size1','size2', 'size3', 'size4', 'size5']]
df

,Obs_Date_NZ,Obs_Lat,Obs_Lon,Total,size1,size2,size3,size4,size5
0,13\12\1978 18:30,-58.72,111.50,1,0,0,0,0,0
1,13\12\1978 21:30,-58.88,110.67,2,0,0,0,0,0
2,13\12\1978 23:30,-59.03,110.00,4,0,0,0,0,0
3,14\12\1978 01:30,-59.17,109.30,5,0,0,0,0,0
4,14\12\1978 03:40,-59.22,109.00,4,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
965,07\03\1984 05:00,-64.52,65.72,5,0,3,2,0,0
966,07\03\1984 07:00,-64.12,66.13,3,0,3,0,0,0
967,07\03\1984 11:00,-63.32,66.95,1,0,1,0,0,0
968,08\03\1984 01:00,-60.50,69.57,1,0,0,1,0,0
969,08\03\1984 03:00,-60.22,69.92,1,0,1,0,0,0

In [119]:
df.isna().sum()

Obs_Date_NZ    0
Obs_Lat        0
Obs_Lon        0
Total          0
size1          0
size2          0
size3          0
size4          0
size5          0
dtype: int64

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970 entries, 0 to 969
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Obs_Date_NZ  970 non-null    object
 1   Obs_Lat      970 non-null    float64
 2   Obs_Lon      970 non-null    float64
 3   Total        970 non-null    int64
 4   size1        970 non-null    int64
 5   size2        970 non-null    int64
 6   size3        970 non-null    int64
 7   size4        970 non-null    int64
 8   size5        970 non-null    int64
dtypes: float64(2), int64(6), object(1)
memory usage: 68.3+ KB

In [121]:
df['Obs_Date_NZ'] = df['Obs_Date_NZ'].apply(str)
df['Obs_Date_NZ'][0]
df['Obs_Date_NZ']  = df['Obs_Date_NZ'].replace(r'\\', '-', regex=True)
print(df)
df['Obs_Date_NZ'] = pd.to_datetime(df['Obs_Date_NZ'])

          Obs_Date_NZ  Obs_Lat  Obs_Lon  Total  size1  size2  size3  size4  \
0    13-12-1978 18:30   -58.72   111.50      1      0      0      0      0
1    13-12-1978 21:30   -58.88   110.67      2      0      0      0      0
2    13-12-1978 23:30   -59.03   110.00      4      0      0      0      0
3    14-12-1978 01:30   -59.17   109.30      5      0      0      0      0
4    14-12-1978 03:40   -59.22   109.00      4      0      0      0      0
..                ...      ...      ...    ...    ...    ...    ...    ...
965  07-03-1984 05:00   -64.52    65.72      5      0      3      2      0
966  07-03-1984 07:00   -64.12    66.13      3      0      3      0      0
967  07-03-1984 11:00   -63.32    66.95      1      0      1      0      0
968  08-03-1984 01:00   -60.50    69.57      1      0      0      1      0
969  08-03-1984 03:00   -60.22    69.92      1      0      1      0      0

     size5
0        0
1        0
2        0
3        0
4        0
..     ...
965      0
966      0
967      0
968      0
969      0

[970 rows x 9 columns]

/var/folders/13/d095gb7d3w707hsyf79x8q4r0000gn/T/ipykernel_8819/158946224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Obs_Date_NZ'] = df['Obs_Date_NZ'].apply(str)
/var/folders/13/d095gb7d3w707hsyf79x8q4r0000gn/T/ipykernel_8819/158946224.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Obs_Date_NZ']  = df['Obs_Date_NZ'].replace(r'\\', '-', regex=True)
/var/folders/13/d095gb7d3w707hsyf79x8q4r0000gn/T/ipykernel_8819/158946224.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Obs_Date_NZ'] = pd.to_datetime(df['Obs_Date_NZ'])

In [122]:
df['Total'].unique()
df['Total_observed'] = df['size1'] + df['size2']  + df['size3'] + df['size4'] + df['size5']
df['T'] = df['Total']-df['Total_observed']

/var/folders/13/d095gb7d3w707hsyf79x8q4r0000gn/T/ipykernel_8819/4075705559.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_observed'] = df['size1'] + df['size2']  + df['size3'] + df['size4'] + df['size5']
/var/folders/13/d095gb7d3w707hsyf79x8q4r0000gn/T/ipykernel_8819/4075705559.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['T'] = df['Total']-df['Total_observed']

In [126]:
df[['size1', 'size2', 'size3', 'size4', 'size5']].max(axis = 1)

23     3
24     2
27     4
28     3
31     1
      ..
965    3
966    2
967    2
968    3
969    2
Length: 405, dtype: int64

In [127]:
import datetime as dt
df = df[~((df['size1'] == 0) & (df['size2'] == 0)& (df['size3'] == 0)& (df['size4'] == 0)& (df['size5'] == 0))]
df = df[df['T'].isin([0,1])]
df['size1'] = df['size1'].apply(lambda x: 0 if x == 0 else 1)
df['size2'] = df['size2'].apply(lambda x: 0 if x == 0 else 2)
df['size3'] = df['size3'].apply(lambda x: 0 if x == 0 else 3)
df['size4'] = df['size4'].apply(lambda x: 0 if x == 0 else 4)
df['size5'] = df['size5'].apply(lambda x: 0 if x == 0 else 5)
df['size'] = df[['size1', 'size2', 'size3', 'size4', 'size5']].max(axis = 1).values
df['size1'] = df['size1'].apply(lambda x: 0 if x == 0 else 1)
df['size2'] = df['size2'].apply(lambda x: 0 if x == 0 else 1)
df['size3'] = df['size3'].apply(lambda x: 0 if x == 0 else 1)
df['size4'] = df['size4'].apply(lambda x: 0 if x == 0 else 1)
df['size5'] = df['size5'].apply(lambda x: 0 if x == 0 else 1)
df.drop('Total_observed', axis = 1, inplace = True)
df['year'] = df['Obs_Date_NZ'].dt.year
df['month'] = df['Obs_Date_NZ'].dt.month
df = df.drop('Obs_Date_NZ', axis = 1)
df.drop('T', axis = 1, inplace = True)
print(df)

     Obs_Lat  Obs_Lon  Total  size1  size2  size3  size4  size5  size  year  \
23    -60.40   123.83      3      1      0      1      0      0     3  1979
24    -60.50   123.47      4      1      1      0      0      0     2  1979
27    -61.68   119.93      6      1      1      1      1      0     4  1979
28    -61.73   119.93      3      0      1      1      0      0     3  1979
31    -62.07   119.92      1      1      0      0      0      0     1  1979
..       ...      ...    ...    ...    ...    ...    ...    ...   ...   ...
965   -64.52    65.72      5      0      1      1      0      0     3  1984
966   -64.12    66.13      3      0      1      0      0      0     2  1984
967   -63.32    66.95      1      0      1      0      0      0     2  1984
968   -60.50    69.57      1      0      0      1      0      0     3  1984
969   -60.22    69.92      1      0      1      0      0      0     2  1984

     month
23       1
24       1
27       1
28       1
31       1
..     ...
965      7
966      7
967      7
968      8
969      8

[405 rows x 11 columns]

In [128]:
X = df.drop('Total', axis = 1)
y = df['Total']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [129]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
lr.score(X_test, y_test)

0.37250400082100144

In [130]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
rf.score(X_test, y_test)

0.5729094822755274

In [131]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
knn.score(X_test, y_test)

0.22131147540983606

In [132]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)
svc.score(X_test, y_test)

0.20491803278688525

In [133]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)
y_pred = gbc.predict(X_test)
gbc.score(X_test, y_test)

0.21311475409836064

In [134]:
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor()
gbr.fit(X_train, y_train)
y_pred = gbr.predict(X_test)
gbr.score(X_test, y_test)

0.5462757067498755

In [135]:
df.drop('size1', axis = 1, inplace = True)
df.drop('size2', axis = 1, inplace = True)
df.drop('size3', axis = 1, inplace = True)
df.drop('size4', axis = 1, inplace = True)
df.drop('size5', axis = 1, inplace = True)

In [136]:
X = df.drop('size', axis = 1)
y = df['size']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [139]:
from sklearn.ensemble import GradientBoostingClassifier
gbc_size = GradientBoostingClassifier()
gbc_size.fit(X_train, y_train)
y_pred = gbc_size.predict(X_test)
gbc_size.score(X_test, y_test)

0.47540983606557374

In [140]:
from sklearn.svm import SVC
svc_size = SVC()
svc_size.fit(X_train, y_train)
y_pred = svc_size.predict(X_test)
svc_size.score(X_test, y_test)

0.3360655737704918

In [143]:
from sklearn.ensemble import GradientBoostingRegressor
gbr_size = GradientBoostingRegressor()
gbr_size.fit(X_train, y_train)
y_pred = gbr_size.predict(X_test)
gbr_size.score(X_test, y_test)

0.5505023549699084